---
layout: default
---
<!doctype html>
<html>
<head>
	<title>{{ page.id }}</title>
  <link rel="stylesheet" href="http://yui.yahooapis.com/pure/0.2.0/pure-min.css">
  <link rel="stylesheet" href="/style.css">
	<script type="text/javascript" src="//use.typekit.net/vej1mbp.js"></script>
	<script type="text/javascript">try{Typekit.load();}catch(e){}</script>
</head>
<body>
	<div class='content'>
		<div class='header'>
			<div class="menu pure-menu pure-menu-open pure-menu-horizontal">
						<ul>
							<li><a target="_blank" href="mailto:itsjoesullivan@gmail.com">itsjoesullivan@gmail.com</a></li>
							<li><a target="_blank "href="https://twitter.com/itsjoesullivan">@itsjoesullivan</a></li>
							<li><a target="_blank" href="http://www.linkedin.com/profile/view?id=84972619">linkedIn</a></li>
							<li><a href="https://docs.google.com/document/d/1JE7qJlVuqk2dbld0YrL1YC-igMFYJwon7iIsEujNJ9Q" target="_blank">resume</a></li>
					</ul>
			</div>
		<h1 class='tk-futura-pt'>JOE SULLIVAN</h1>
		<h2 class=''>web developer</h2>
		</div>
		

<div class="pure-g main">
	<div class="pure-u-1-4">
				<div class="pure-menu pure-menu-open">
						<a class="pure-menu-heading">Projects</a>
						<ul>
								<li class="{% if id == 'js-vim' %} pure-menu-selected {% endif %}"><a href="/projects/js-vim">js-vim</a></li>
								<li><a href="http://t.elegr.am" target="_blank">t.elegr.am</a></li>
								<li><a href="https://chrome.google.com/webstore/detail/chide/akffdfncndkbojhjphnljmlholpkmhgi" target="_blank">ChIDE</a></li>
						</ul>
					<a class="pure-menu-heading">Writing</a>
						<ul>
								<li class=""><a href="#">iOS7: Designing scarcity</a></li>
								<li><a href="#">The New News</a></li>
						</ul>

				</div>
	</div>
	<div class="pure-u-5-8 content">
		{{ content }}
	</div>
</div>
</body>
</html>
